@model WmIdentity.ViewModels.CustomerMailFormVM
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_SecundaryLayout.cshtml";
}

<div class="problemSolver"></div>


<div class="container padding50">
    <h2 class="text-center">Contato</h2>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h6>Endereço Físico</h6>

            <address>

                @*R. José Eduardo, 228 - Vila Celina, Espírito Santo do Pinhal - SP, 13990-000*@

                R. José Eduardo, 228 - Vila Celina<br />
                Espírito Santo do Pinhal, São Paulo - 13990-000<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>
        </div>
        <div class="col-md-6">
            <h6>Endereço Eletrônico</h6>
            <address>
                <strong>Suporte:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </div>
    </div>

    <hr />

    
        <div class="col-lg-6 col-md-9 m-auto text-center">
            <h2>Envie um email para nossa equipe</h2>

        </div>
  
    <div class="row">
        <div class="col-md-12">
            <div class="space" data-MY="60px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 m-auto">
            <form method="post" asp-action="SendEmailAction" asp-controller="Home">
                <div asp-validation-summary="All" class="text-danger error-window"></div>




                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" asp-for="nome" placeholder="Nome" required>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" asp-for="email" placeholder="E-mail" required>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input class="form-control" asp-for="subject" placeholder="Assunto" required>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea class="form-control" asp-for="message" placeholder="Mensagem..." rows="6"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p>
                            <button class="btn btn-block btn-brand" type="submit">Enviar Mensagem</button>
                        </p>
                    </div>
                </div>
            </form>

        </div>
    </div>


</div>
