
.problemSolver {
    /*background-color: #222;*/
    height:73px;
}

/*.logo {
    width:130px;
    height:auto;
}*/

/*.logo img{
    width: 130px;
    height: auto;
}*/

.logoFooter{
    width:200px;
}

.aboutIcons {
    color: #ffffff;
}

.crudForm{
    padding: 60px;
}

.imagemRegistro {
    background-image: url('../images/carousel/banner-hd.png');
}

.landscape {
    height: 40px;
    width: 90px;
}

.textoAtivo{
    color: limegreen;
}

.textoDesativado {
    color: red;
}

.border-extra{
    margin:30px;
}

.margin-bottom-sm30 {
    margin-bottom: 30px;
}

.error-window{
    background-color:#fff;
    border-radius: 5px;
    /*padding:3px;*/
    border:5px;
}

.p-maior {
    font-size: 1.55rem !important;
}

.justify {
    text-align: justify;
    text-justify: auto;
}

.aumentaFont{
    font-size:1.5rem;
}

.overflowing-text {
    /*word-wrap: break-word;
    overflow-x: hidden;
    height: 90px;
    white-space: nowrap;
    text-overflow: ellipsis;*/
    white-space: nowrap;
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.about-p {
    font-size: 1.25rem !important;
}

.about-h {
    font-size: 2.75rem !important;

}

.services-p {
    font-size: 1.25rem !important;
}

.services-h {
    font-size: 1.75rem !important;
}

.number-icon-color {
    color: #FFF;
}

.padding50{
    padding-top:50px;
}
/*IDs*/
#logout_button {
    background: none !important;
    color: inherit !important;
    border: none !important;
    padding: 0 !important;
    font-size: 1.5rem;
    /*font: inherit !important;*/
    cursor: pointer !important;
    outline: inherit !important;
    margin-top: 12px;
}

/*NUMBERS*/

.padding-sections {
    /*padding: 50px !important;*/
    /*text-align:center;*/
    height: 600px;
}

.margin-top-90 {
    padding-top: 95px;
}

.counter-title{
    font-size:1.2rem;
}


@media only screen and (max-width: 410px) {
    .nav-title {
        font-size: 0.9rem !important;
    }

    .p-maior {
        font-size: 0.9rem !important;
    }
}


/*criar medias*/
/*NUMBERS CSS*/
@media (max-width: 768px) {
    .padding-sections {
        height: 930px !important;
    }


    .margin-top-90 {
        padding-top: 30px !important;
    }
}


/* styles for '...' */
.block-with-text {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 6em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
    /* place for '...' */
    margin-right: -1em;
    padding-right: 1em;
}
    /* create the ... */
    .block-with-text:before {
        /* points in the end */
        content: '...';
        /* absolute position */
        position: absolute;
        /* set position to right bottom corner of block */
        right: 0;
        bottom: 0;
    }
    /* hide ... if we have text, which is less than or equal to max lines */
    .block-with-text:after {
        /* points in the end */
        content: '';
        /* absolute position */
        position: absolute;
        /* set position to right bottom corner of text */
        right: 0;
        /* set width and height */
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        /* bg color = bg color under block */
        background: white;
    }


/*Edit Create form pages*/
.smaller-text{
    font-size:0.9rem !important;
}


#map{
    height:300px;
    width:100%;
}



