@using Microsoft.AspNetCore.Identity

@inject SignInManager<MyUser> SignInManager
@inject UserManager<MyUser> UserManager


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WmIdentity</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

        <link rel="shortcut icon" href="~/images/favicon.png">
        <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="~/images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="~/images/apple-touch-icon-114x114.png">
        <!-- Web Fonts-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7cPlayfair+Display:400i" rel="stylesheet">
        <!-- Plugins-->
        <link href="~/css/plugins.min.css" rel="stylesheet" />
        <!-- Template core CSS-->
        <link href="~/css/template.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />


    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="~/css/template.css" rel="stylesheet" />

        <link rel="shortcut icon" href="~/images/favicon.png">
        <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="~/images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="~/images/apple-touch-icon-114x114.png">
        <!-- Web Fonts-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7cPlayfair+Display:400i" rel="stylesheet">
        @*<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">*@
        <!-- Plugins-->
        <link href="~/css/plugins.min.css" rel="stylesheet" />
        <!-- Template core CSS-->
        <link href="~/css/site.css" rel="stylesheet" />

    </environment>
    <!-- Favicons-->
    @*<link rel="shortcut icon" href="~/images/favicon.png">
        <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="~/images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="~/images/apple-touch-icon-114x114.png">
        <!-- Web Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7cPlayfair+Display:400i" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <!-- Plugins-->
        <link href="~/css/plugins.min.css" rel="stylesheet" />
        <!-- Template core CSS-->
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/css/template.css" rel="stylesheet" />*@
</head>
<body>
    <!-- Preloader-->
    @*<div class="page-loader">
            <div class="page-loader-inner">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>*@
    <!-- Preloader end-->
    <!-- Header-->


    <header class="header header-transparent">
        <div class="container-fluid">
            <!-- Brand-->
            <div class="inner-header"><a class="inner-brand nav-title" asp-controller="Home" asp-action="Index">WM | World Merchant</a></div>
            <!-- Navigation-->
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="inner-navigation collapse">
                    <div class="inner-nav onepage-nav">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index"><span class="menu-item-span">Home</span></a></li>

                            <li>
                                <a><span class="menu-item-span colos">@UserManager.GetUserName(User)</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="extra-nav">
                    <ul>
                        <li>
                            <form asp-action="Logout" asp-controller="Account" method="post">
                                <button id="logout_button" type="submit"><i class="menu-item-span ti-user text-danger" data-toggle="popover" data-trigger="hover" data-content="Sair"></i></button>
                            </form>
                        </li>
                        <li class="nav-toggle"><a href="#" data-toggle="collapse" data-target=".inner-navigation"><span class="menu-item-span"><i class="ti-menu"></i></span></a></li>

                    </ul>
                </div>
            }
            else
            {
                <div class="inner-navigation collapse">
                    <div class="inner-nav onepage-nav">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index"><span class="menu-item-span">Home</span></a></li>

                        </ul>
                    </div>
                </div>
                @*<div class="extra-nav">
                        <ul>

                            <li><a class="top-bar-cart" asp-controller="Account" asp-action="Register"><span class="menu-item-span">REGISTER</span></a></li>

                            <li><a class="top-bar-cart" asp-controller="Account" asp-action="Login"><span class="menu-item-span">LOGIN</span></a></li>

                        </ul>
                    </div>*@
                <div class="extra-nav">
                    <ul>
                        @*<li><a class="top-bar-cart" asp-controller="Account" asp-action="Login"><span class="menu-item-span">LOGIN</span></a></li>*@
                        <li>
                            <form asp-action="Logout" asp-controller="Account" method="post">
                                <button id="logout_button" type="submit"><i class="menu-item-span ti-user" data-toggle="popover" data-trigger="hover" data-content="Entrar"></i></button>
                            </form>
                        </li>

                        <li class="nav-toggle"><a href="#" data-toggle="collapse" data-target=".inner-navigation"><span class="menu-item-span"><i class="ti-menu"></i></span></a></li>
                    </ul>
                </div>
            }
            @*asp-area="" asp-controller="Product" asp-action="Index"*@








        </div>
    </header>

    <!-- Header end-->

    <partial name="_CookieConsentPartial" />
    <!-- Wrapper-->
    <div class="wrapper">



        @RenderBody()


        <!-- Footer-->
        <footer class="footer">
            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- Text widget-->
                            <aside class="widget widget-text">
                                <div class="widget-title">
                                    <h6>Sobre nós</h6>
                                </div>
                                <div class="textwidget">
                                    <p>
                                        Localização: Rua José Eduardo 228, Vila Celina<br>
                                        E-mail: wmcomex@wmcomex.com.br<br>
                                        Fone: +55 (19) 3651-7963<br>
                                    </p>
                                    <ul class="social-icons">
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    </ul>
                                </div>
                            </aside>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>© 2019 - EzWeb <a href="#"> Dev. Henrique</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer end-->
    </div>
    <!-- Wrapper end-->
    <!-- To top button-->
    <a class="scroll-top" href="#top"><i class="fas fa-angle-up"></i></a>

    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
    <environment include="Development">
        <script src="~/js/custom/jquery-3.2.1.min.js"></script>
        <script src="~/js/custom/popper.min.js"></script>
        <script src="~/js/custom/bootstrap/bootstrap.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA0rANX07hh6ASNKdBr4mZH0KZSqbHYc3Q"></script>
        <script src="~/js/custom/plugins.min.js"></script>
        <script src="~/js/custom/custom.min.js"></script>
    </environment>
    <environment exclude="Development">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>*@
        @*<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>*@
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)


</body>
</html>
