
@{
    ViewData["Title"] = "EmailExistenteError";
    Layout = "~/Views/Shared/_SecundaryLayout.cshtml";
}





<div class="wrapper">
    <section id="registerSection" class="module-cover parallax fullscreen text-center" data-background="../images/Carousel/Banner-HD.png" data-overlay="0.65" data-gradient="">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 m-auto">
                    <div class="m-b-20">
                        <h4>Erro!</h4>
                    </div>
                    <div class="m-b-20 alert alert-danger">
                        <p>Email já cadastrado.</p>
                    </div>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Voltar</a>

                </div>
            </div>
        </div>
    </section>
</div>
