@model WmIdentity.ViewModels.LoginVM

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_SecundaryLayout.cshtml";
    
}

<!-- Wrapper-->
<div class="wrapper">
    <section id="registerSection" class="module-cover parallax fullscreen text-center" data-background="../images/Carousel/Banner-HD.png" data-overlay="0.65" data-gradient="">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 m-auto">
                    <div class="m-b-20">
                        <h4>Login</h4>
                        <p>Entrar no sistema WM</p>
                    </div>
                    <div class="m-b-20">
                        <form asp-action="Login" asp-controller="Account" method="post" class="form-horizontal">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <input asp-for="UserName" class="form-control" placeholder="Email" />
                                @*<span asp-validation-for="UserName" class="text-danger"></span>*@
                            </div>
                            <div class="form-group">
                                <input asp-for="Password" class="form-control" placeholder="Senha" />
                                @*<span asp-validation-for="Password" class="text-danger"></span>*@
                            </div>

                            <div class="form-group">
                                <button class="btn btn-block btn-round btn-brand" type="submit">Entrar</button>

                            </div>
                        </form>
                        @if (ViewBag.ZeroUsers == true)
                        {
                            <p>TRUE</p>
                        }
                        else
                        {
                            <a class="btn btn-block btn-round btn-brand" asp-action="Register" asp-controller="Account">Registrar</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>